@use '../abstracts/variables' as *;

.badge-onsale, .btn-preview {
  background-color: $color-level-2; // Nền bậc 2 (#00B2EF)
  color: $text-color-light;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  display: inline-block;
}