@use 'sass:color';
@use '../abstracts/variables' as *;

.btn {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &-primary {
    background-color: $primary-color;
    color: white;
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }

  &-secondary {
    background-color: $secondary-color;
    color: white;
  }
}